torch
torchvision
numpy
opencv-python
basicsr
realesrgan
gfpgan  # opsional untuk face enhance
onnxruntime  # untuk .onnx
safetensors  # untuk .safetensors
tensorflow  # opsional untuk .tflite/.pb
tensorrt  # opsional untuk .engine
requests  # untuk Telegram
