basicsr
facexlib
gfpgan
opencv-python
torch
torchvision
onnxruntime
safetensors
tensorflow
requests
numpy
Pillow
tqdm
realesrgan
scipy
pyyaml
lmdb
einops
onnx
opencv-contrib-python
numba
boto3
h5py
coremltools
openvino-dev
tensorrt
protobuf
zipfile
psutil
packaging
wheel
setuptools
cython
ffmpeg-python
imageio
imageio-ffmpeg
av
accelerate
transformers
huggingface-hub
